.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  width: 90%;

  &.botMessageContainer {
    background-color: #a7d2ffaa;
  }

  &.userMessageContainer {
    background-color: #9adadaaa;
    /* Align user messages to the right */
    align-self: flex-end;
  }
}

.userMessage {
  font-style: italic;
}

.botMessage {
  font-style: normal;
}

/* Code snippet styles */
.message code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  border-radius: 5px;
}

.htmlFrame {
  margin-top: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  min-height: 400px;
  resize: vertical;
}

.message table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #e0e0e0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.message table th,
.message table td {
  text-align: left;
  border: 1px solid darkgray;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: x-small;
}

.message table th {
  background-color: darkgray;
  color: black;
}

.message table tr:nth-child(even) td {
  background-color: #f0f0f0;
}

.message table tr:nth-child(odd) td {
  background-color: #ffffff;
}

.message ul {
  margin-top: 8px;
  padding-left: 20px;
  /* Reduced indentation from default 40px */
}

/* Remove margins for nested ul elements */
.message ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.message p {
  margin-top: 8px;
}

.copyButton {
  background: none;
  border: none;
  cursor: pointer;
  /* Place it on top right corner of the following element */
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  padding: 0;
  margin: 0;
}
