/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  /* 5.5 Background */
  background: url('/images/wave.svg') no-repeat center center scroll, #ddd;
  background-size: cover;
  height: 100vh
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Callout styles */

.callout {
  border-left: 4px solid rgb(var(--callout-color));
  background-color: rgba(var(--callout-color), 0.1);
  padding: 0.75rem 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);


  .title {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }

  &.foldable .title {
    cursor: pointer;
  }

  .title-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .fold-arrow {
    transition: transform 0.2s ease;
  }

  &.collapsed .fold-arrow {
    transform: rotate(-90deg);
  }

  .content {
    margin-top: 0.5rem;

  }

  &.collapsed .content {
    display: none;
  }

}
