.logoutButton {
    background-color: #4d8bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
    font-family: "Roboto", sans-serif;

    &:hover {
        background-color: #357ae8;
    }
}

.username {
    margin-right: 1rem;
    font-weight: bold;
    color: #bbb;
    font-family: "Roboto", sans-serif;
}